* {
  text-align: center;
  background-color: black;
  font-family: Verdana;
}

h1, h2 {
  color: white;
}

h2 {
  font-weight: 300px;
  font-size: 42px;
}

#discover {
  font-weight: normal;
  font size: 50px;
}

#guide {
  font-weight: 300px;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h3 {
  font-size: 21px;
  color: gray;
  font-weight normal;
}

#copyright {
  text-align: right;
}
